html,  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}



/* 1. margin-top을 사용하는 경우 */
/* 
    이 경우 디바이스와 div 요소의 height를 계산하여 세로 정렬해야 합니다. 
    부모 요소를 가진 상태에서 사용하는 것이 적절합니다. 
*/
/* #layer {
    margin-top: 400px;
}

#layer p {
    width: 300px;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
    border: 3px solid #333;
    background: greenyellow;
} */




/* 2. line-height을 사용하는 경우 */
/* div 요소 내의 text를 세로 중앙 정렬하기 위해 사용 */  
/* #layer  {
    margin-top: 400px;
}

#layer p {
    width: 300px;
    margin: 0 auto;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: greenyellow;
    border: 3px solid #333;
} */



/* 3. table, table-cell, vertical-align: middle 사용하기 */
/* #layer {
    display: table;
    width: 300px;
    height: 500px;
    margin: 0 auto;
    margin-top: 250px;
    background: greenyellow;
    border: 3px solid #333;
}

#layer p {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
} */

/* 4. 가상 요소 ::before 사용하기 */
/*
    ::before를 통해 
*/
/* #layer {
    max-width: 380px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    background: greenyellow;
    border: 3px solid #333;
}

#layer::before {
    display: inline-block;
    content: "";
    height: 100%;
    vertical-align: middle;
}

#layer .inner {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
} */


/* 5. position: absolute의 경우 */
/* position: absolute의 경우 절대적인 위치를 가지기 때문에 div 요소의 구체적인 width, height 값이 필요합니다. */
#layer {
    width: 300px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 3px solid #333;
    background: greenyellow;

    margin: -250px 0 0 -150px;

    text-align: center;
    line-height: 500px;
}